<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAP39vEq5lNmbDlxRbsK7FU8p1NNc_n_fI</string>
	<key>GCM_SENDER_ID</key>
	<string>571107992454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zomatoClone</string>
	<key>PROJECT_ID</key>
	<string>zomato-clone-fc94b</string>
	<key>STORAGE_BUCKET</key>
	<string>zomato-clone-fc94b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571107992454:ios:9d0eb133ab36b538d24207</string>
</dict>
</plist>